<div id="sign_in">

	<h2>Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><br /><%= f.email_field :email, autocomplete: "off", autofocus: true, class: "form-control", placeholder: "@email" %></div>

	  

	  <div><br />
	    <%= f.password_field :password, autocomplete: "off", autocomplete: "off", class: "form-control", placeholder: "Password" %></div>
</br>
	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>
</br>
	  <div><%= f.submit "Sign in", class: "btn btn-default" %></div>
	<% end %>
</br>
	<%= render "devise/shared/links" %>

</div>

<div id="sign_in_text">
	<h2> Welcome back buddy! </h2>
	<p> What artistic delights have you got to share with us today I wonder?</p>
</div>