<%= form_for @post, :class => 'new_form', :html => { :multipart => true } do |f| %>
  <div id="new_post_description_row">
	  <%= f.label :description, :class => 'new_post_description' %>
	  <%= f.text_area :description, :class => "new_post_description_label" %>
  </div>
  <p> </p>
  <div>
    <%= f.label :picture, :class => "new_post_picture_label" %>
    <%= f.file_field :picture, :class => "glyphicon glyphicon-folder-open" %>
  </div>
	<%= f.submit :class => "btn btn-primary" %>
<% end %>