<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Instagram', posts_path, class: 'navbar-brand' %>  
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <p class="navbar-brand"><h5>Signed in as <%= current_user.email %><h5><p>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-camera"> Photos <b class="caret"></b></a></span>
          <ul class="dropdown-menu">
            <li><a href="#">Add photo</a></li>
            <li><a href="#">Delete photo</a></li>
            <li><a href="#">Edit photo</a></li>
            <li class="divider"></li>
            <li><a href="#">Profile Page</a></li>
            <li class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
        <li>
          <%= link_to ' Sign out', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-remove" %>
        </li>
        <% else %>
          <li>
            <%= link_to ' Sign in', new_user_session_path, class: "glyphicon glyphicon-import" %>
          </li>  
          <li>
            <%= link_to ' Sign up', new_user_registration_path, class: "glyphicon glyphicon-plus" %>
          </li>  
        <% end %>      
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>